services:
  postgres:
    image: postgres:17-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ambrosio
      POSTGRES_USER: ambrosio
      POSTGRES_DB: ambrosio

volumes:
  postgres-data:
